@CHARSET "ISO-8859-1";

/*
	color scheme:
	
	title title: yellow
	
	header/footer:
		background: 255, 159, 95
		foreground: black
	
	body: 
		background:
		foreground: black
		
	submit button background: 255, 255, 76
	
	already have an account foreground: 47, 47 255
*/


/*GENERAL*/
* {
	margin: 0;
	padding: 0;
}

body {
	background-color: red;
	color: white;
}
/*GENERAL*/

/*NAV BAR*/

/*NAV BAR*/