@CHARSET "ISO-8859-1";

/*GENERAL*/
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-size: 62.5%;
	font-family: sans-serif;
	background-color: rgb(37, 94, 105);
}

div.wrapper {
	font-size: 1.8em;
	padding: 2em;
	margin: 0 auto;
}

div.body {
	font-size: 1.6em;
}
/*GENERAL*/

/*NAV/HEADER*/
header {
	background-color: rgb(37, 94, 105);
}

header h1 {
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 5.326em;
	color: rgb(64, 232, 64);
	font-family: "Rockwell", sans-serif;
	display: inline-block;
}

/*
font-size: 5.326em;, 
*/
header nav ul {
	list-style-type: none;
}

header nav {
	display: inline-block;
}

header nav ul li {
	background-color: rgb(170, 208, 66);
	display: inline-block;
	border: thin solid black;
	padding: 15px 50px;
	color: black;
	position: relative;
	cursor: pointer;
	font-size: 1.2em;
}

header nav ul li ul {
	position: absolute;
	margin-left: -51px;
	margin-top: 15px;
	display: none;
}

header nav ul li:hover ul {
	display: block;
}

header a {
	text-decoration: none;
	color: black;
}

header img {
	width: 10%;
	height: 10%;
}
/*NAV/HEADER*/